.spacer {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}