* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-3 {
  position: relative;
}

.observer {
  position: absolute;
}

.rev-container {
  margin: 0 5%;
}

/* .value {
	margin-top: 200px;
} */
.value h3 {
  font-size: 55px;
  margin-bottom: 200px;
  font-family: MadeOuterSans-Bold;
}

.value h3 img {
  font-size: 50px;
  margin-left: 30px;
}

.help .help-lft {
  width: 54%;
  display: inline-block;
}

.help-lft h1 {
  font-size: 150px;
  font-family: MadeOuterSans-Medium;
  color: #000000;
  line-height: 0.7;
  margin: 50px 0 35px 0;
}

.help-lft h5 {
  font-size: 38px;
  color: #000000;
  line-height: 1;
  font-family: MadeOuterSans-Light;
}

.help .help-rgt {
  width: 45%;
  float: right;
  margin-top: 30px;
}

.help-rgt p {
  font-size: 20px;
  color: #000000;
  line-height: 1;
  font-family: MadeOuterSans-Light;
  padding-left: 50px;
}

/* .vision {
	margin-top: 200px;
} */
.vision h3 {
  font-size: 55px;
  margin-bottom: 200px;
  font-family: MadeOuterSans-Bold;
  opacity: 0;
}

.vision h3 img {
  font-size: 50px;
  margin-left: 30px;
}

/* .mission {
	margin-top: 200px;
} */
.mission h3 {
  font-size: 55px;
  margin-bottom: 200px;
  font-family: MadeOuterSans-Bold;
  opacity: 0;
}

.mission h3 img {
  font-size: 50px;
  margin-left: 30px;
}



.capability-cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.capability-image {
  text-align: center;
}

.capability-image .capability-ring {
  width: 500px;
}

.double-quote3 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 50%;
  /* transform: scale(1.3); */
  transform: translateX(-50%);
}

.logo3 {
  width: 130px;
}

.logo-a3 {
  margin-left: -5px;
}

.logo-e3 {
  margin-right: -5px;
}